@model IEnumberable<BlogProject.Models.Teacher>


@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>This shows the list of all the teachers</p>

<nav>
    <a href="/Teacher/New">New Teacher</a>
</nav>



<h2>List of teachers</h2>
<form action="/Teacher/List" method="get">
    <input type="text" name="SearchKey" autocomplete="off" />

    <input type="submit" name="submit" value="Search"/>
</form>

@foreach (var teacher in Model) 
{
    <div class="listitem row">
        <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
    </div>

}